* {
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans MT';
    margin-bottom: 10px;
}

.heading {
    font-size: 40px;
}

.lasagna {
    display: block;
    color: rgb(170, 76, 9);
    box-sizing: border-box;
}

.wafflefries {
    display: block;
    color: rgb(230, 150, 92);
}

.smoothie {
    display: block;
    color: palevioletred;
}