* {
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans MT';
}

.heading {
    font-size: 40px;
}

.lasagna {
    color: rgb(170, 76, 9);
    margin: 12px;
}

.wafflefries {
    color: rgb(230, 150, 92);
}

.smoothie {
    color: palevioletred;
}